# #!/usr/bin/env ruby
snippet @
	@${1:attribute} = $1
snippet eif
	elsif ${1:condition}
		${2}
snippet wh
	while ${1:condition}
		${2}
	end
snippet ac
	attr_accessor :${1:attr_names}
snippet mis
	def method_missing(method_name, *args, &block)
		${1}
	end
snippet res
	def respond_to_missing?(method_name, include_private = false)
		${1}
	end
snippet .e
	.each do |${1:n}|
		${2}
	end
snippet here
	<<-EOF
		${1}
	EOF
